<?php
defined('YII_DEBUG') 					|| define('YII_DEBUG', true);
defined('YII_TRACE_LEVEL')				|| define('YII_TRACE_LEVEL', 3);
defined('YII_ENV')						|| define('YII_ENV', 'dev');

defined('CANIS_APP_ID')					|| define('CANIS_APP_ID', '{{ app.id }}');
defined('CANIS_APP_NAME')				|| define('CANIS_APP_NAME', '{{ app.name }}');
defined('CANIS_APP_NAMESPACE')			|| define('CANIS_APP_NAMESPACE', 'psesd\ldapPassword');

defined('CANIS_APP_INSTANCE_VERSION')	|| define('CANIS_APP_INSTANCE_VERSION', '{{ version }}');
defined('CANIS_APP_INSTALL_PATH')		|| define('CANIS_APP_INSTALL_PATH', dirname(__DIR__));
defined('CANIS_APP_CONFIG_PATH')		|| define('CANIS_APP_CONFIG_PATH', __DIR__);
defined('CANIS_APP_VENDOR_PATH')		|| define('CANIS_APP_VENDOR_PATH', CANIS_APP_INSTALL_PATH . DIRECTORY_SEPARATOR . 'vendor');
defined('CANIS_APP_PATH') 				|| define('CANIS_APP_PATH', CANIS_APP_INSTALL_PATH . DIRECTORY_SEPARATOR . 'app');

defined('CANIS_APP_LDAP_HOST')			|| define('CANIS_APP_LDAP_HOST', '{{ ldap.host }}');
defined('CANIS_APP_LDAP_PORT')			|| define('CANIS_APP_LDAP_PORT', '{{ ldap.port }}');
?>