<?php
defined('YII_DEBUG') 					|| define('YII_DEBUG', false);
defined('YII_TRACE_LEVEL')				|| define('YII_TRACE_LEVEL', 0);
defined('YII_ENV')						|| define('YII_ENV', 'production');

defined('CANIS_APP_ID')					|| define('CANIS_APP_ID', '{{ app.id }}');
defined('CANIS_APP_NAME')				|| define('CANIS_APP_NAME', '{{ app.name }}');
defined('CANIS_APP_NAMESPACE')			|| define('CANIS_APP_NAMESPACE', 'psesd\ldapPassword');

defined('CANIS_APP_INSTANCE_VERSION')	|| define('CANIS_APP_INSTANCE_VERSION', '{{ version }}');
defined('CANIS_APP_INSTALL_PATH')		|| define('CANIS_APP_INSTALL_PATH', dirname(__DIR__));
defined('CANIS_APP_CONFIG_PATH')		|| define('CANIS_APP_CONFIG_PATH', __DIR__);
defined('CANIS_APP_VENDOR_PATH')		|| define('CANIS_APP_VENDOR_PATH', CANIS_APP_INSTALL_PATH . DIRECTORY_SEPARATOR . 'vendor');
defined('CANIS_APP_PATH') 				|| define('CANIS_APP_PATH', CANIS_APP_INSTALL_PATH . DIRECTORY_SEPARATOR . 'app');

defined('CANIS_APP_DATABASE_HOST')		|| define('CANIS_APP_DATABASE_HOST', '{{ db.host }}');
defined('CANIS_APP_DATABASE_PORT')		|| define('CANIS_APP_DATABASE_PORT', '{{ db.port }}');
defined('CANIS_APP_DATABASE_USERNAME')	|| define('CANIS_APP_DATABASE_USERNAME', '{{ db.username }}');
defined('CANIS_APP_DATABASE_PASSWORD')	|| define('CANIS_APP_DATABASE_PASSWORD', '{{ db.password }}');
defined('CANIS_APP_DATABASE_DBNAME')	|| define('CANIS_APP_DATABASE_DBNAME', '{{ db.dbname }}');
?>