<?php
$parent = CANIS_APP_PATH . DIRECTORY_SEPARATOR . 'config' . DIRECTORY_SEPARATOR . basename(__FILE__);
$config = include $parent;
$config['components']['request']['cookieValidationKey'] = '{{ cookieValidationString }}';
return $config;